body {

    background-color: #fff;
}
/*
.btn-primary{
    background-color: #f78fa7;
    border-color: #f78fa7;
}
.btn-primary:hover {
    color: #fff;
    background-color: #D71868;
    border-color: #D71868;
}
.btn-primary:focus,.btn-primary:active {
    color: #fff;
    background-color: #D71868;
    border-color: #D71868;
}*/

.form-signin{
    max-width: 300px;
    margin: 0 auto;
}
#asf{
    /*margin-right: 10px;*/
    padding-right: 10px;
}
.row{
    padding: 10px;
    max-width: 1920px;
}
.tab-content{
    min-width: 100px;
    max-width: 1200px;

    word-break: break-all;
}

#search{
    margin-right: 0px;
}

#main{
    margin-top: 60px;
}

#campaignContent, #serverContent, #scansCampaignContent, #targetsContent, .nmaptable, #hashesContent {

    background-color: #eee;
}

#servers, #campaigns, #targets {
    border-bottom: 3px solid #DDD;
    background-color: #eee;
}


.row {
    margin-right: 10px;
}

.navbar-form select.form-control{
    width: 150px;
}

.menu{
    max-width: 300px;
}
#fileselect{
    margin-left: -15px;
}


#errurl{
    padding: 8px 35px 8px 14px;
    margin-bottom:0px;
    margin-top:10px;
    opacity: 0.8;
}

.ip, .status{

}

.btns{
    text-align: center;
    /*width: 100px;*/
}

td > form {
    margin: 0px;
}

td > a.btn {
    padding: 4px 10px;
}

#tab-content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
}

.sign-inp{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 1px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.table tbody>tr>td{
    vertical-align: middle;
}
.wellm{
    border: 1px solid #e3e3e3;
    background-color:#f5f5f5;
    border-radius: 4px;
    margin: 5px 0 0 0;
    padding:5px;
    font-size: 12px;
}
.qwe.nav > li > a{
    padding: 5px 10px;

}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d5d5d5;
}

#targetsContent {

}

.tabs{

}
.tab-pane>.row{
    padding: 5px;
    margin: 0px;
}

.campTitle {
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 1);

}

.row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}


.url{
    width: 300px;
}
.scanTable{
    max-height: 200px;
    overflow-y: scroll;
}

.childUrl {
    overflow: hidden;
}

.child-row {
    max-width: 600px;
}

.deleteCmp, .deleteTgt, .deleteScn, .editNote {
    font-size: 10px;
}

#found .table-hover tbody td, .table-hover tbody th {

}

.found {
    background-color: yellowgreen;
}

.notFound {
    background-color: #D6D40B;
}

.other {
    background-color: #C6414D;
}

/*table#gitTable {
    table-layout:fixed;
}
table#gitTable td {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;

}*/

.navbar-form select.form-control.options {

    width: 100px;

}

.navbar-form select.form-control.servers {
    width: 400px;
}

.cc1 {
    width: 300px;
    height: 30px;
    overflow: hidden;
}

.filenameS {
    width: 100px;
    height: 30px;
    overflow: hidden;
}

.cc2 {
    height: 50px; /*40px - more place for scrollbar, is hidden under parent box */
    padding: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    text-overflow: ellipsis;
}

#hashesAdd .form-inline {
    margin: 10px 0px 10px 0px;
}

#gitDumper select {
    width: 35%;
}

#searchText {
    width: 33%;
}

#searchGit {
    width: 30%;
}

#gitDumper .row {
    border: none;
}

#gitDumper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#child{
    background-color:#9acfea;
    padding-left: 10px;
}
.targetRow td{
    font-size:11px;
}
.btns span{
    font-size:6px;
}
#parent{
    text-align: left;
    vertical-align: top;
}
#targetsArea{
    width: 300px;
}